.button-green-unique {
    color: #e5ec0b;
    background-color: white;
    border: 2px solid #e5ec0b;
}

.button-green-unique:hover {
    transform: scale(1.05);
    color: white;
    background-color: #e5ec0b;
}